@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: "Potta One";
  background: linear-gradient(darkblue,grey, whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

header{
  top: 0;
  margin: 5px;
  width: 50vw;
  color: black;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 5px solid black;
  padding: 15px;
  font-size: 40px;
 
}

.yourTurn{
  border-bottom: 4px solid green;
  color: green;
}

.board {
  margin-top: 60px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Permanent Marker";
  font-size: 48px;
}

.cell {
  flex: 0 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.cell:hover{
  opacity: .5;
}

.border-left-right {
   border-left: 5px solid black;
    border-right: 5px solid black;
}

.border-top-bottom {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.cell span {
  text-transform: uppercase;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: bold;
}

.messages{
  position: absolute;
  margin-top: 50px;
  margin: 1rem auto;
  width: 650px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  border-radius: 15px;
  transform: scale(0);
  transition: 200ms ease-in-out;
}

.messages.active{
  transform:scale(1);
}

h1{
  margin-top: 50px;
  color: whitesmoke;
  text-align: center;
  font-family: "Permanent Marker";
  font-weight: bold;
  font-size: 60px;
}

h1:hover{
  color: darkblue;
}

#newgame{
  display: block;
  margin: 1rem auto;
  width: 8rem;
  height: 2.5rem;
  border: none;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
  padding: 5px;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px #6a6a6a, inset -2px -2px 4px #050606;
}

#newgame:hover{
  transform: scale(1.10);
  background: darkblue;
}

.gamerules{
  width: 800px;
  height: 400px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  position: absolute;
  top: 35%;
  left: 28%;
  padding: 5px;
  border-radius: 5px;
  transform: scale(1);
}

.gamerules p{
  color: white;
  font-size: 20px;
}

.gamerules.inactive{
  transform: scale(0);
}

.btn{
text-align: center;
background-color: rgba(0, 0, 0, 0.8);
border:none;
color: white;
font-weight: bold;
padding:  10px;
font-size: 18px;
cursor: pointer;
height: 2.5rem;
width: 8rem;
border-radius: 20px;
display: block;
margin: 1rem auto;
margin-top: 50px;
box-shadow: inset 2px 2px 4px #6a6a6a, inset -2px -2px 4px #050606; 
  
}

.btn:hover{
  transform:scale(1.08);
  background: darkblue;
}
